@font-face {
    font-family: 'vcr-osd-mono';
    src: url('../assets/fonts/VCR_OSD_MONO.ttf');
}

* {
    font-family: "vcr-osd-mono";
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

button {
    display:flex;
    justify-content: center;

    width: 250px;
    padding: 20px;
    font-size: 30px;

    color: white;
    background-color: black;
    border: 5px solid white;
}

button:hover {
    color: gray;
}

h1, h2, h3 {
    color: white;
}

input {
    display: flex;

    background: black;
    border: 5px solid white;
    height: 40px;
    width: 186px;
    font-size: 20px;
    margin: 20px;
}

#calendar {
    display: flex;
    align-items: center;
    align-content: stretch;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.center-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.day-info {
    display: flex;
    color: white;
    font-size: 16px;
}

.day-number {
    font-weight: bold;
    display: flex;
    font-size: 20px;
    color: white;
}

.day {
    display: flex;
    flex: 2;

    padding: 4px;
    border: 2px solid white;
    height: 10vh;

    margin-left: -2px;
    flex-direction: column;
}

.header {
    display: flex;
    flex: auto;
    align-content: center;
}

.highlighted {
    background-color: #333333;
}

.info-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.month {
    display: flex;
    align-content: stretch;
    flex: auto;
    flex-direction: column;
    border: 5px solid white;
}

.title {
    display: flex;
    justify-content: center;
    gap: 60px;

    font-size: 60px;
}

.week {
    display: flex;
    flex: 10;
    align-content: stretch;

    margin-top: -2px;
}

.text-field {
    width: 40px;
    font-size: 30px;
    background-color: black;
    border: 2px solid white;
}

.text-fields {

}