@font-face {
    font-family: 'vcr-osd-mono';
    src: url('../assets/fonts/VCR_OSD_MONO.ttf');
}

* {
    font-family: "vcr-osd-mono";
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

button {
    display:flex;
    justify-content: center;

    width: 250px;
    padding: 20px;
    font-size: 30px;

    color: white;
    background-color: black;
    border: 5px solid white;
}

button:hover {
    color: gray;
}

h1, h2, h3 {
    color: white;
    margin: 3px;
}

input {
    display: flex;

    background: black;
    border: 5px solid white;
    height: 40px;
    width: 186px;
    font-size: 20px;
    margin: 20px;
}

#calendar {
    display: flex;
    justify-content: center;
    align-content: stretch;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

#event-board {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.center-container {
    display: flex;
    flex: stretch;
    justify-content: center;
    padding: 10px;
}

.day-info {
    display: flex;
    flex-basis: auto;

    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid white;
    word-wrap:br;
    width: inherit;
    margin: 2px;
}

.day-info-tooltip {
    visibility: hidden;
    width: 20vh;
    background-color: black;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    z-index: 1;
    position: absolute;
}

.day-info:hover .day-info-tooltip {
    visibility: visible;
}

.day-number {
    font-weight: bold;
    display: flex;
    font-size: 20px;
    color: white;
}

.day {
    display: flex;
    flex: 1;
    width: inherit;
    min-height: 8vh;

    padding: 4px;
    border: 2px solid white;
    overflow-wrap: anywhere;

    margin-left: -2px;
    flex-direction: column;
}

.event-desc {
    font-weight: lighter;
    font-size: 20px;
}

.event-title {
    font-weight: bold;
    font-size: 25px;
}

.header {
    display: flex;
    flex: auto;
    align-content: center;
}

.highlighted {
    background-color: #333333;
}

.info-box {
    border: 5px solid white;
    display: flex;
    flex-grow: 1;
    max-width: 100vh;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
}

.info-title {
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month {
    display: flex;
    align-content: stretch;
    flex: auto;
    flex-direction: column;
    border: 10px double white;
    max-width: 100vh;
    max-height: 100vh;
}

.overflow-wrap {
    overflow: hidden;
}

.title {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    gap: 60px;
    font-size: 60px;
}

.week {
    display: flex;
    flex: 10;
    align-content: stretch;
    margin-top: -2px;
}